# Análisis y ML
numpy
pandas
scikit-learn
xgboost
scipy
statsmodels
shap
optuna

# Visualización
matplotlib
seaborn
ydata-profiling
streamlit
# Entorno de trabajo
ipykernel
ipywidgets
tqdm
